//マージン調整css
.u-mb15px {
  margin-bottom: 15px;
}

.u-mb30px {
  margin-bottom: 30px;
  @include mq-sp {
    margin-bottom: $space-unit / 2;
  };
}

.u-mb60px {
  margin-bottom: 60px;
  @include mq-sp {
    margin-bottom: $space-unit;
  };
}

.u-mb90px {
  margin-bottom: 90px;
  @include mq-sp {
    margin-bottom: 60px;
  };
}

.u-mb100px {
  margin-bottom: 100px;
  @include mq-sp {
    margin-bottom: 60px;
  };
}

//180度回転させるクラス
.rotated {
  transform: rotate(180deg);
}

//y方向にオーバーフロウ
.overflowY {
  max-height: 300px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

//文字カラーを赤にする
.textColorRed {
  color: $color-red;
}

//テキストをセンターにする
.textCenter {
  text-align: center;
}

//バリデーションメッセージ用のcss
.validation {
  text-align: center;
  font-size: 1.4rem;
  margin-top: -10px;
  color: $color-red;
  @include mq-sp {
    font-size: 1.4rem;
  }
}

//コンテンツがない場合のメッセージなどに用いるcss
.message {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: $space-unit;
  color: $color-main-text;
  @include mq-sp {
    font-size: 1.4rem;
  }
}
