//colors
$color-base: #f9f8f4;
$color-base-second: #efece7;
$color-main-text: #615c57;
$color-off-text: #a29a93;
$color-link: #615c57;
$color-line: #d6d1ca;
$color-black: #252525;
$color-red: #9e452d;
$color-white: #fafafa;
$color-white-second: #f0f0f0;

//sizes
$base-content-width: 1010px;
$main-content-width: 720px;
$space-unit: 30px;
$column-space: $space-unit;

//path
$image-path: "../images/";

//fonts
$font-sub: 'Homemade Apple', cursive;
$font-price: 'Arapey', serif;

//breakpoints
$sp-max-width: 640px;
$pc-min-width: 641px;

//SP
$sp-menu-width: 200px;
$sp-space-unit: 15px;
